h1{font-family: 'Libre Baskerville', serif;
text-transform: uppercase;
color: white;background-color: black;}

img{border: 5px solid white ;
text-align: center;
width: 100%;}

div{width: 50%;margin-left: 25%;}

html{background-color: black;}

p{color: white;}

